/* .des-logo {
  height: 45px;
  width: auto;
}



@media (min-width: 768px) {
  .des-logo {
    height: 55px;
    padding-top:5px;
    padding-bottom: 5px;
  }
}

@media (min-width: 1200px) {
  .des-logo {
    height: 80px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
} */







.des-logo {
  height: 45px;
  width: auto;
}



@media (min-width: 768px) {
  .des-logo {
    height: 55px;
    padding-top:5px;
    padding-bottom: 5px;
  }
}

@media (min-width: 1200px) {
  .des-logo {
    height: 80px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}